<gene-header v-model="value" name="Neuro emitter" :notes="notes">
    <div class="instinct-inputs">
        <div class="instinct-input" v-for="(input, i) in value.inputs" :key="i" :class="{unused : input.lobeTissueId == -1}">
            <span class="label">Neuron {{i + 1}}</span>
            <span class="value" v-if="input.lobeTissueId != -1">lobe tissue {{input.lobeTissueId}} &middot; neuron {{input.neuron}}</span>
            <span class="value" v-else>unused</span>
        </div>
    </div>

    <div class="fields">
        <div class="field"><span class="label">Tick rate</span><span class="value">{{value.bioTickRate | num}}</span></div>
    </div>

    <div class="emissions">
        <div class="emission" v-for="(emission, i) in value.emissions" :key="i" v-if="emission.chemical != 0">
            <span class="label">Chemical {{emission.chemical}}</span>
            <div class="bar"><div class="bar-fill" :style="{width : emission.amount * 100 + '%'}"></div></div>
            <span class="value">{{emission.amount | num}}</span>
        </div>
    </div>
</gene-header>
