<div>

	<div v-if="isValid">
		<div class="genome">
			<table>
				<tr>
					<th>#</th>
					<th>Gen-#</th>
					<th>G-Id</th>
					<th>Switch on</th>
					<th>Sex</th>
					<th>Mutability</th>
					<th>Description</th>
				</tr>

				<tr v-for="(gene, i) in genes" @click="selectGene(gene)" v-bind:class="{selected : isSelected(gene)}">
					<td>{{i}}</td>
					<td>{{gene.generation}}</td>
					<td>{{gene.id}}</td>
					<td>{{gene.age | to_string}}</td>
					<td>{{gene.sex | to_string}}</td>
					<td>{{gene.mutability | to_string}}</td>
					<td>{{gene.getName()}}</td>
				</tr>
			</table>
		</div>
		<div class="gene-view">
			<gene-view v-model="currentGene" />
		</div>
	</div>
	<div v-else>
		<p>Open a genome: <file-select v-model="file"></file-select>
		</p>
		<p v-if="file">{{file.name}}</p>
	</div>
</div>